* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color: whitesmoke;
    font-weight: extra-bold
}

.displayText p {
    font-size: 14px;
    color: rgb(207, 205, 205);
    padding: 10px 0px 10px 0px;
}

.container {
   
    background-color: #1F2937;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.headerLinks {
    display: flex;
    list-style-type: none;
    color: white;
    font-size: 18px;
}

.navigation li {
    font-size: 14px;
    color: whitesmoke;
    padding: 18px
}

.logo {
    height: 50px
}

.display {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background-color: #0099ff;
    padding: 8px 24px 8px 24px;
    border: 0px;
    margin: 6px 0px 0px 0px;
    border-radius: 10px;
    color: white;
}

.displayImage {
    padding: 0 0 20px 0;
}

.secondContainer {
    display: flex;
    margin: 0 0 50px 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* second container */

.secondContainer h2 {
    padding: 32px;
}

.imageReel {
    display: flex;
}

.reelItem {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 25px
}

.reelItem img {
    border-radius: 10px;
    border: solid;
    border-color: #0099ff;
}

.reelItem p {
    padding: 10px 0 0 0 ;
}

/* Third Container */

.thirdContainer {
    display: flex;
    flex-direction: column;
}

